<div class="container">
<h1>Task List</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <div class="row">
          <h3 class="col-2">
            <% if task.completed? %>
            <i class="fa-regular fa-square-check"></i>
            <% else %>
            <i class="fa-regular fa-square"></i>
            <% end %>
          </h3>
          <h3 class="col-8">
            <%= link_to task.title, task_path(task["id"]) %>
          </h3>
          <h3 class="col-2">
          <%= link_to raw('<i class="fa-solid fa-dumpster fa-bounce"></i>'),
            task_path(task),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
          </h3>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="link">
<%= link_to raw('<i class="fa-solid fa-plus fa-xl"></i>'), new_task_path %>
</div>
