/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h3 a {
  text-decoration: none;
  color: black;
  font-family: fantasy;
 }

 a {
  text-align: center;
  justify-content: center;
 }

 h3 a:hover {
  color: rgb(180, 13, 57);
 }

 ul {
  list-style: none;
  margin-top: 20px;
 }

 li {
  margin-bottom: 5px;
 }

 ._form_task {
  background-color: red;
 }

.container {
  border-bottom: 1px solid gray;
  width: 700px;
  margin-top: 20px;
  margin: 0 auto;
}

.link {
  text-align: center;
  justify-content: center;
  font-family: fantasy;
  margin-top: 20px;
}

.link a {
  text-decoration: none;
}

body {
  font-family: fantasy;
}

 h1 {
  font-family: fantasy;
  text-align: center;
  margin-top: 20px;
  border-bottom: 1px solid black;
 }
